<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="header">
            <h1>
                todos
            </h1>
        </div>
        <div class="content">
            <input id="userInput" type="text" name="task" placeholder="What needs to do?">
            <table >
                <tbody id="tableBody">
                    <tr class="active" id="template">
                        <td>
                            <input id="checkBox" type="checkbox" >
                            <div id="input">
                                template
                            </div>
                            <input id="delete" type="button"  value="Delete">
                        </td>
                    </tr>
                </tbody>
            </table>
        <button id="all_button" >All</button>
        <button id="active_button" >Active</button>
        <button id="completed_button" >Completed</button>
        </div>
    </body>
</html>
