<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript">
        window.onload = function() {
            document.getElementById("userInput").onkeydown = save;
            /*var taskActive = displayActive.bind(document.getElementById("tableBody"))
            document.getElementById("active").onclick = taskActive
            var taskCompleted = displayCompleted.bind(document.getElementById("tableBody"))
            document.getElementById("completed").onclick = taskCompleted
            var taskAll = displayAll.bind(document.getElementById("tableBody"))
            document.getElementById("all").onclick = taskAll*/

            var tbody = document.getElementById("tableBody");
            todolist = new Todolist(tbody)
            $.get(
                'todolist_items',
                {},
                function(response) {
                    var tablebody = document.getElementById("tableBody")
                    for(var i = 0; i < response.length; i++) {
                        var newTr = document.getElementById("template").cloneNode(true)
                        tablebody.appendChild(newTr)
                        newTr.children[0].children[1].innerHTML = 
                        response[i].content
                        newTr.style.display = ''
                        newTr.id = "newTr" + i
                        var todolistItem = new TodolistItem(newTr,response[i].id)
                        todolist.items.push(todolistItem)
                        if(response[i].completed) {
                            newTr.children[0].children[0].checked = true
                            todolistItem.toggleDelete()
                        }
                    }
                },
                "json"
                )
        }            
        function save (click) {
            if (click.keyCode == 13){
                var location = document.getElementById("tableBody");
                var length = location.childElementCount;
                var newTr = document.getElementById("template").cloneNode(true);
                location.appendChild(newTr);
                newTr.children[0].children[1].innerHTML = 
                    document.getElementById("userInput").value;
                document.getElementById("userInput").value = "";
                newTr.style.display = '';
                newTr.id = "newTr" + length;

                $.post(
                    'todolist_items',
                    {
                        todolist_item: {
                            content: newTr.children[0].children[1].innerHTML,
                            completed: false
                        }
                    },
                    function(response) {
                        var item = new TodolistItem(newTr, response.id)
                        todolist.items.push(item)
                    },
                    "json"
                )
            }
        }

        function TodolistItem(newTr, id){
            this.id = id
            this.newTr = newTr
            newTr.children[0].children[0].onchange = this.toggleDelete.bind(this);
            newTr.children[0].children[2].onclick = this.newTrDelete.bind(this);
        }
        TodolistItem.prototype = {
            toggleDelete: function (event) {
                var td_checkbox = this.newTr.children[0].children[0]
                var td_div = this.newTr.children[0].children[1]
                if(td_checkbox.checked) {
                    var del = document.createElement("del");
                    del.innerHTML = td_div.innerHTML;
                    td_div.innerHTML = del.outerHTML;
                    this.newTr.className = "completed"
                    var completed = true                  
                }
                else {
                    var getback = td_div.children[0].innerHTML
                    td_div.innerHTML = getback
                    this.newTr.className = "active"
                    var completed = false
                }
                $.ajax({
                    url: 'todolist_items/' + this.id,
                    type: 'PUT',
                    data: {
                        todolist_item: {
                            completed: completed
                        }
                    },
                    success: function(response) {},
                    dataType: "json"
                })
            },

            newTrDelete: function (event) {
                this.newTr.parentNode.removeChild(this.newTr)
                $.ajax({
                    url: 'todolist_items/' + this.id,
                    type: 'DELETE',
                    success: function(response) {
                        alert('Task deleted!')
                    },
                    dataType: "json"
                })
            }            
        }
        function Todolist(tbody) {
            this.items = []
            this.body = tbody
            document.getElementById("active").onclick = this.displayActive.bind(this)
            document.getElementById("completed").onclick = this.displayCompleted.bind(this)
            document.getElementById("all").onclick = this.displayAll.bind(this)
        }
        Todolist.prototype = {
            displayActive: function(event) {
                for(var i = 1; i < this.body.childElementCount; i++) {
                    var child = this.body.children[i]
                    if(child.className == "completed") {
                        child.style.display = "none"
                    }else {
                        child.style.display = ''
                    }
                }            
            },
            displayCompleted: function(event) {
                for(var i = 1; i < this.body.childElementCount; i++) {
                    var child = this.body.children[i]
                    if(child.className == "active") {
                        child.style.display = "none"
                    }else {
                        child.style.display = ''
                    }
                }
            },
            displayAll: function(event) {
                for(var i = 1; i < this.body.childElementCount; i++) {
                    var child = this.body.children[i]
                    child.style.display = ''
                }
            }
        }        
        </script>
    </head>
    <style>
    table,th,td {
                border-collapse: collapse;
                border: 1px solid grey;
    }
    </style>
    <body>
        <div class="header">
            <h1 style="color: grey">
                todos
            </h1>
        </div>
        <div class="content">
            <input id="userInput" type="text" name="task" placeholder="What needs to do?">
            <table >
                <tbody id="tableBody">
                    <tr class="active" id="template" style="display:none">
                        <td>
                            <input style="display: inline-block" type="checkbox" >
                            <div style="display: inline-block">
                                template
                            </div>
                            <input style="float: right" type="button" name="delete" value="Delete">
                        </td>
                    </tr>
                </tbody>
            </table>
        <button id="all" type="button" >All</button>
        <button id="active" type="button" >Active</button>
        <button id="completed" type="button" >Completed</button>
        </div>
    </body>
</html>